.header,
.header-space,
.footer,
.footer-space {
    height: auto;
    padding: 20px;
    background-color: white;
}

.header {
    position: fixed;
    top: 0;
}

.footer {
    position: fixed;
    bottom: 0;
}

.right-footer img {
    width: 145px;
    height: 145px;
}

.right-footer div.desc-bloc {
    width: calc(100vw - 570px);
}

.left-footer .factureTitre {
    color: darkslategrey;
}


/*.body {
    margin-top: 200px;
}*/

@media screen {
     :host {
        display: none;
    }
}