<app-side-bar [currentMenu]="menu"></app-side-bar>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class=" row">
                <label for="datedeb" class="col-4 col-form-label">Date debut</label>
                <div class="col-8">
                    <input class="form-control" type="date" value="{{ today | date :'yyyy-MM-dd'}}" id="datedeb">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class=" row">
                <label for="datefin" class="col-4 col-form-label">Date fin</label>
                <div class="col-8">
                    <input class="form-control" type="date" value="{{ today | date :'yyyy-MM-dd'}}" id="datefin">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class=" row">
                <label for="type" class="col-4 col-form-label">Type</label>
                <div class="col-8">
                    <select name="type" id="type" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="col-1">

            <i class="icon-search material-icons"></i>

        </div>

    </div>
    <ag-grid-angular [style]="gridWith" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs">
    </ag-grid-angular>




</div>